<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Directory</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="usersCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Directory</h1>
      </ion-header-bar>
      <ion-content>
      <ion-list>
        <ion-item ng-repeat="task in tasks">
          <div class="list card">
            <div class ="item item-avatar">
              <img ng-src = "{{task.image}}">
              <h2> {{task.title}} {{task.last}}</h2>
              <p> {{task.phone}} </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
